if grep -q "microsoft" /proc/version >/dev/null 2>&1; then
  alias ssh='/c/Program\ Files/OpenSSH/ssh.exe'
  alias ssh-add='/c/Program\ Files/OpenSSH/ssh-add.exe'
  alias ssh2='/usr/bin/ssh'

  # This is specific to WSL 2. If the WSL 2 VM goes rogue and decides not to free
  # up memory, this command will free your memory after about 20-30 seconds.
  #   Details: https://github.com/microsoft/WSL/issues/4166#issuecomment-628493643
  alias drop_cache="sudo sh -c \"echo 3 >'/proc/sys/vm/drop_caches' && swapoff -a && swapon -a && printf '\n%s\n' 'Ram-cache and Swap Cleared'\""
fi

alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

alias c='clear'
alias mkdir='mkdir -p'

alias cat='bat --paging=never'

alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'

alias ls="eza"
alias ll="ls -laagobF --group-directories-first --show-symlinks --git --color-scale --time-style '+%Y-%m-%d %H:%M:%S'"
alias ld='ll --only-dirs'
alias lf='ll --only-files'

alias sz='. ${ZDOTDIR}/.zprofile && . ${ZDOTDIR}/.zshrc'
alias dt='cd ${DOTFILES_PATH} && nvim .'

alias cfgp='${EDITOR} ${HOME}/.gitconfig.user.personal'
alias cfgw='${EDITOR} ${HOME}/.gitconfig.user.work'
alias cfgb='${EDITOR} ${HOME}/.gitconfig.user.bitbucket'

alias drun='docker container run --rm -it'

alias vss='sort -u ${HOME}/.config/nvim/spell/en.utf-8.add -o ${HOME}/.config/nvim/spell/en.utf-8.add'

alias vdt='rm ${HOME}/.local/state/nvim/swap/%*'
alias ca="sudo apt-get clean && sudo rm -rf /var/lib/apt/lists /var/cache/apt/archives"
alias ctg="fd --hidden --no-ignore --exclude .git --exclude .idea --max-depth 2 --type dir '\.terragrunt-cache' --exec rm -rf"
alias ctf="fd --hidden --no-ignore --exclude .git --exclude .idea --exclude .terragrunt-cache --max-depth 2 --type dir '\.terraform' --exec rm -rf"
alias ctfl="fd --hidden --no-ignore --exclude .git --exclude .idea --exclude .terragrunt-cache --max-depth 2 --type file --extension hcl --full-path './terraform-aws-loxon.*/\.terraform.lock.hcl' --exec rm -rf"
alias cnode="fd --no-ignore --type dir 'node_modules|build|dist' --exec rm -rf"
alias cng="find . -type d -path '*/.angular/cache' -prune -exec rm -rf {} \;"

# shellcheck disable=SC2139
alias pf="fzf ${FZF_CTRL_T_OPTS}"
alias assol="aws sso login --no-browser --profile"

alias g="git"
alias k="kubectl"
alias tf="terraform"
alias tg="terragrunt"
