alias ssh='/mnt/c/Program\ Files/OpenSSH/ssh.exe'
alias ssh-add='/mnt/c/Program\ Files/OpenSSH/ssh-add.exe'

if command -v brew > /dev/null 2>&1; then
  alias ls="ls -G"
  alias grep="grep -G"
  alias fgrep="fgrep -G"
  alias egrep="egrep -G"
else
  alias ls="ls --color=auto"
  alias grep="grep --color=auto"
  alias fgrep="fgrep --color=auto"
  alias egrep="egrep --color=auto"
fi

alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

alias cfa='${EDITOR} ${ZDOTDIR}/.aliases'
alias cfp='${EDITOR} ${ZDOTDIR}/.zprofile'
alias cfr='${EDITOR} ${ZDOTDIR}/.zshrc'
alias sfr='. ${ZDOTDIR}/.zshrc'
alias cft='${EDITOR} ${HOME}/.tmux.conf'
alias dt='cd ${HOME}/src/github/dotfiles'

alias drun='docker run --rm -it -v "${PWD}":/app -w /app'

alias vdt="rm /tmp/%*"
alias ca="sudo apt-get clean && sudo rm -rf /var/lib/apt/lists /var/cache/apt/archives"
alias csdk="find ${XDG_CONFIG_HOME}/sdkman/tmp/ -maxdepth 1 -type f -print -delete"

alias pf="fzf ${FZF_CTRL_T_OPTS}"

alias g="git"
alias k="kubectl"
alias tf="terraform"
alias tg="terragrunt"

# This is specific to WSL 2. If the WSL 2 VM goes rogue and decides not to free
# up memory, this command will free your memory after about 20-30 seconds.
#   Details: https://github.com/microsoft/WSL/issues/4166#issuecomment-628493643
alias drop_cache="sudo sh -c \"echo 3 >'/proc/sys/vm/drop_caches' && swapoff -a && swapon -a && printf '\n%s\n' 'Ram-cache and Swap Cleared'\""
