[core]
	editor = nvim
 	sshCommand = '/c/Program Files/OpenSSH/ssh.exe'
 	longpaths = true
 	autocrlf = input

[color "diff"]
	whitespace = red reverse

[include]
	path = ~/.config/gitalias/gitalias.txt

[includeIf "gitdir:~/src/github/"]
    path = ~/.gitconfig.user.personal
[includeIf "gitdir:~/src/codecommit/"]
    path = ~/.gitconfig.user.work
[includeIf "gitdir:~/src/gerrit/"]
    path = ~/.gitconfig.user.work
[includeIf "gitdir:~/src/bitbucket/"]
    path = ~/.gitconfig.user.bitbucket
